---
layout: default
title: Zhao Bo' Blog
---

<h1 id="welcome">Welcome!</h1>
<pre><p>Hi  there!  I am named Zhao Bo, and I live in <a title="jiangxi" href="http://baike.baidu.com/link?url=KJP3CqRLIArWOli4dcSS0VQxAW8NuwzEbVpg9P3WYABb3wvKZuNo7MkNHuZ5AfI3">jiangxi</a> <a title="yichun" href="http://baike.baidu.com/subview/9560/12540992.htm?fr=aladdin">yichun</a>.  I am a student of  <a title="hust" href="http://www.hust.edu.cn/">Hust</a>,a linux programmer.</p><pre>

{% include posts.html %}
{% include aliases.html %}

