<!doctype html>
<html lang="zh_cn">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{site.baseurl}}{{'/css/style.css'}}">
    <link rel="shortcut icon" href="{{site.baseurl}}{{'/favicon.ico}}" type="image/x-icon">
    <link rel="icon" href="{{site.baseurl}}{{'/favicon.ico}}" type="image/x-icon">
  </head>
  <body bgcolor="#A9A9A9">
    <div id="all">
      <div id="header">
        <h1><a href="{{site.baseurl}}">赵波的博客</a></h1>
      </div>
      <div id="content">
        {% comment %} page.date is used as a sentinel to find out if we are
        rendering a post {% endcomment %}
        {% if page.date %}
          <div class="post">
            <h1>{{ page.title }}</h1>
            <p class="date">{{ page.date | date_to_long_string }}</p>
            {{ content }}
          </div>
        {% else %}
          {{ content }}
        {% endif %}
      </div>
      <div id="footer">
        Online from 2014 &ndash; {{ site.time | date: "%Y" }}. <a href="{{site.baseurl}}{{'/gpg/'}}">Zhao Bo</a> &ndash; <a href="{{site.baseurl}}{{'/imprint/'}}">Imprint and License</a>.
      </div>
    </div>
  </body>
</html>
